/*
 * Main
 */
body {
    font-family: 'Lato', Arial, sans-serif;
    background: #fff;
}

::selection {
    background-color: #B73533;
    color: rgb(255,255,255);
}

::-moz-selection {
    background-color: #B73533;
    color: rgb(255,255,255);
}

h1{
    font-size:20px;
    font-weight:bold;
    position:relative;
    padding-left:14px;
    margin-bottom:30px;
    margin-top:0;
    color: #d83734;
}

h1:before{
    content:'';
    position:absolute;
    width:4px;
    height:28px;
    left:0;
    top:-4px;
    background:#d83734;
}

h1 small {
    padding-left: 8px;
    font-size: 16px;
}

a {
    color: #d83734;
    cursor: pointer;
}

a:hover,
a:focus {
    color: #802a28;
    text-decoration: none;
}

a:active {
    color: #b73533;
    text-decoration: none;
}

.btn-collapse .glyphicon {
    margin-right: 6px;
}

/*
 * Buttons
 */
.btn {
    background-color:#000;
    border:2px solid #000;
    border-radius:0;
    color:#fff;
    font-weight:bold;
}

.btn:hover,
.btn:focus {
    background-color:#333;
    border-color:#333;
    color:#fff;
}
.btn:active {
    background-color:#555;
    border-color:#555;
    color:#fff;
}

.btn-red {
    border-color:#d83734;
    background-color:#d83734;
}

.btn-red:hover,
.btn-red:focus {
    border-color:#db4542;
    background-color:#db4542;
}
.index .hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(216, 55, 52, 0.6);
    border-color:#d83734;
    background-color:#d83734;
}
.btn-red:active {
    border-color:#dd5350;
    background-color:#dd5350;
}

.btn-grey {
    border-color:#bbb;
    background-color:#bbb;
    color: #111;
}

.btn-grey:hover,
.btn-grey:focus {
    border-color:#c4c4c4;
    background-color:#c4c4c4;
    color: #333;
}
.btn-grey:active {
    border-color:#ccc;
    background-color:#ccc;
    color: #333;
}
/*
 * Inputs
 */
.form-control {
    border-radius: 0;
    border:2px solid #000;
    height: 36px;
}
.form-control:focus {
    border-color: #d83734;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(216, 55, 52, 0.6)
}
.input-group-addon {
    border-radius: 0;
    border:2px solid #000;
    background: #333;
    color: #fff;
    font-weight: bold;
    line-height: 1;
    padding-top: 6px;
}
/*
 * Classes
 */
.transparent {
    background: rgba(255,255,255,0.8);
}
.circle {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    font-size: 40px;
    color: #fff;
    line-height: 120px;
    text-align: center;
    background: #d83834;
    margin-bottom: 20px;
}
a:hover .circle,
a.circle:hover {
    background: #db4542;
}
.nopadding {
    padding: 0 !important;
}
/*
 * Tables
 */
table {}
th {
    padding: 0 !important;
    background: #000;
    color:#fff;
}
th a {
    padding: 4px 5px;
    display: block;
    color: #fff;
    white-space: nowrap;
}
th a:hover,
th a:focus,
th a:active {
    color: #f55552;
}
th.sorted {
    background: #d83734;
}
td.sorted {
    background-color: #f1f1f1;
    color: #000;
}
td.sorted .highlight {
    color: #db4542;
}
th.sorted a {
    color: #fff;
}
th a:before {
    content:"\e151";
    margin-top: -1px;
    font-size: 16px;
    float: right;
    font-family: 'Glyphicons Halflings';
    font-weight: normal;
    z-index: 1;
    visibility: hidden;
}
th a:hover:before,
th.DESC a:hover:before,
th.desc a:hover:before,
th.ASC a:before,
th.asc a:before{
    content:"\e155";
    visibility: visible;
}
th.ASC a:hover:before,
th.asc a:hover:before,
th.DESC a:before,
th.desc a:before{
    content:"\e156";
    visibility: visible;
}
.highlight {
    color: #d83734;
    font-weight: bold;
}
/*
 * Paging
 */
.pagination {
    font-size: 17px;
    font-weight: bold;
    display: block;
    position: relative;
    text-align: center;
    border: 1px solid #000;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding: 4px 0;
}
.pagination a {
    font-size: 17px;
    font-weight: bold;
    display: inline-block;
    line-height: 1.8;
    padding: 0 8px;
    background: #f2f2f2;
    color: #000;
}
.pagination a:hover,
.pagination a:focus {
    color: #d83734;
    text-decoration: none;
}
.pagination .current {
    display: inline-block;
    line-height: 1.8;
    padding: 0 8px;
    background: #d83734;
    color: #fff;
}
.pagination .disabled {
    display: inline-block;
    line-height: 1.8;
    padding: 0 4px;
    color: #000;
    cursor: auto;
}
.pagination .disabled span:hover {
    cursor: auto;
}
.pagination .first {
    position: absolute;
    left: 0;
}
.pagination .last {
    position: absolute;
    right: 0;
}
/*
 * Header
 */
.header {
    background: #333;
    color: #ccc;
    padding: 0 0 2px;
    line-height: 2;
}
.header a {
    color: #ccc;
    text-decoration: underline;
}
.header a:hover {
    color: #fff;
}

/*
 * Top
 */
.body {
    margin-top: 30px;
}
/*
 * Index
 */
.index h1 {
    font-size: 84px;
    margin: 70px auto 0;
    text-align: center;
    position:static;
    padding-left:0;
}
.index h1:before{
    display: none;
}
.index h1 small {
    font-size: 12px;
    font-weight: 600;
    display: block;
    color: inherit;
    padding: 0;
}
.index .row {
    margin-top: 80px;
}
.index .transparent {
    padding: 65px 30px 0;
    height: 320px;
}
.index .form-control:hover,
.index .form-control:focus {
    border-color: #d83734;
    box-shadow: none;
}
.index .hover .form-control {
    border-color: #d83734;
    box-shadow: none;
}
.index .hover .btn {
    border-color: #d83734;
    background-color: #d83734;
    box-shadow: none;
}
/**
 * Login
 */
.login h2 {
    margin:0;
    padding: 0;
    line-height: 1;
    height: 42px;
    margin-top: -2px;
    font-size: 22px;
    font-weight: bold;
}
.login .input-group {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 10px;
}
.login .input-group-addon {
    width: 30%;
}
.btn-login {
    margin-top: 24px;
    width: 100%;
}

/**
 * Suche
 */
.suchcontainer .form-control {
    border-color: #d83734;
}
.suche .suchcontainer .btn-red {
    margin: 0;
    float: left;
    margin-right: 10px;
}
.table-hover > tbody > tr:hover,
.table-hover > tbody > tr:hover td {
    background-color: #d83734;
    color: #fff;
    cursor: pointer;
}
.table-hover > tbody > tr:hover .highlight {
    color: #fff;
}
.btn-collapse .glyphicon {display: none}
.btn-collapse .glyphicon-arrow-up {display: inline-block}
.btn-collapse.collapsed .glyphicon-arrow-up {display: none}
.btn-collapse.collapsed .glyphicon-arrow-down {display: inline-block}
.filter {
    padding:20px 0 14px;
}
/*
 * Top
 */

a.hompage {
    font-size:2em;
    line-height: 40px;
    font-weight: bold;
}

.top {
    padding: 10px 0;
    /* Permalink - use to edit and share this gradient: http:7/colorzilla.com/gradient-editor/#000000+19,cccccc+19 */
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top,  #000000 140px, #f1f1f1 140px); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #000000 140px,#f1f1f1 140px); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #000000 140px,#f1f1f1 140px); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

#form_freitext {
    width: calc(100% - 42px);
    float:left;
    margin-bottom:10px;
}

@media (min-width: 768px){
    .top {
        padding: 10px 0 6px 0;
        /* Permalink - use to edit and share this gradient: http:7/colorzilla.com/gradient-editor/#000000+19,cccccc+19 */
        background: #000000; /* Old browsers */
        background: -moz-linear-gradient(top,  #000000 55px, #f1f1f1 55px); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #000000 55px,#f1f1f1 55px); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #000000 55px,#f1f1f1 55px); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    }

    #form_freitext {
        width: 100%;
        float:none;
        margin-bottom: 0;
    }

    .index #form_freitext {
        width: calc(100% - 42px);
        float:left;
        margin-bottom:10px;
    }
}



/**
 * Typeahead
 */
span.twitter-typeahead .tt-menu,
span.twitter-typeahead .tt-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    width: 100%;
    min-width: 160px;
    padding: 5px 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 2px solid #d83734;
    border-top: none;
    border-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}
strong.tt-highlight {
    color: #d83734;
}
span.twitter-typeahead .tt-selectable {
    cursor: pointer;
}
span.twitter-typeahead .tt-hint {
    color: #aaa;
}
span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #d83734
}
span.twitter-typeahead .tt-suggestion.tt-cursor .tt-highlight,
span.twitter-typeahead .tt-suggestion:hover .tt-highlight,
span.twitter-typeahead .tt-suggestion:focus .tt-highlight {
    color: #fff;
}
.input-group.input-group-lg span.twitter-typeahead .form-control {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.input-group.input-group-sm span.twitter-typeahead .form-control {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
span.twitter-typeahead {
    width: 100%;
}
.input-group span.twitter-typeahead {
    display: block !important;
    height: 34px;
}
.input-group span.twitter-typeahead .tt-menu,
.input-group span.twitter-typeahead .tt-dropdown-menu {
    top: 32px !important;
}
.input-group span.twitter-typeahead:not(:first-child):not(:last-child) .form-control {
    border-radius: 0;
}
.input-group span.twitter-typeahead:first-child .form-control {
    border-radius: 0;
}
.input-group span.twitter-typeahead:last-child .form-control {
    border-radius: 0;
}
.input-group.input-group-sm span.twitter-typeahead {
    height: 30px;
}
.input-group.input-group-sm span.twitter-typeahead .tt-menu,
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
    top: 30px !important;
}
.input-group.input-group-lg span.twitter-typeahead {
    height: 46px;
}
.input-group.input-group-lg span.twitter-typeahead .tt-menu,
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
    top: 46px !important;
}

/**
 * Detailview
 */

.detailView h1 + a,
.detailView h1 + a + a,
.detailView h1 + a + a + a,
.detailView h1 + a + a + a + a {
    float: right;
    top: -56px;
    z-index: 100;
    margin-left: 12px;
    position: relative;

}

.detailView dd {
    margin-bottom: 8px;
}

.anhang-container {
    padding:20px;
    background-color:#f5f5f5;
}

.detailView .anhang-container dt {
    float: none;
    width: auto;
    overflow: initial;
    clear: both;
    text-align: left;
    margin-bottom:10px
}

@media (min-width: 768px){
    .detailView .anhang-container dd {
        margin-left: 0;
    }
}

.nichtSichtbarMsg{
    margin-bottom: 20px;
}

/*
 * Media-Queries
 */
@media(max-width:768px) {
    .suche .btn-red,
    .suche .btn-grey {
        margin-right: 0;

    }

    .suche .btn-red,
    .suche .btn-grey,
    #form_freitext {
        position: relative;
        z-index: 10;
    }

    .suche #form_freitext {
        width: 100%;
    }

    .suche .hidden {
        display: inline-block !important;
    }

    .suchbutton {
        margin-top: -1px;
    }
}

@media(min-width:768px) {
    body.index {
        background: url('../images/background.jpg') 100% center no-repeat;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
        height: 100vh;
    }

    .suche .btn-red,
    .suche .btn-grey {
        float: right;
        margin-left: 16px;
    }
}

.archivierung-form-edit .form-control,
.archivierung-form .form-control{
    width: 40rem;
    display:inline;
}

.archivierung-form-edit ul,
.archivierung-form ul{
    margin-left: 0;
    padding-left: 0;
}

.archivierung-form-edit li,
.archivierung-form li{
    list-style-type:none;
    padding-bottom: 12px;
}

ul.zusaetze li div{
    width: auto;
}

.zusaetze .col-sm-10 {
    padding-left: 0;
}

#disable-upload{
    height:340px;
}

#disable-upload > div:first-child {
    border:none;
    padding:0px;
    width: 100%;
}

#disable-upload > div:last-child {
    margin-top: -200px;
    z-index: 300;
    position: relative;
    width: 90%;
    display: block;
    margin-left: 5%;
    text-align: center;
    opacity: 0;
    transition: opacity .1s .1s;
}

#disable-upload:hover > div:last-child {
    opacity: 1;
}

#disable-upload .btn:hover{
    background-color: #000;
    border-color: #000;
}