/*
 * Main
 */
body {
    background: #fff;
}
h1 {
    margin-top: 0;
    color: #d83734;
}
h1 small {
    color: #d83734;
    display: block;
}
/*
 * Header
 */
.header {
    background: #e8e8e8;
    color: #656565;
    padding: 0;
    line-height: 2;
    margin-bottom: 10px;
}
.header a {
    color: #000;
    text-decoration: underline;
}
.header a:hover {
    color: #656565;
}
/*
 * Index
 */
.index h1 {
    font-size: 87px;
    margin: 40px auto 0;
    text-align: center;
}
.index h1 small {
    font-size: 12px;
    font-weight: 600;
}
/*
 * Media-Queries
 */
@media(min-width:768px) {
    body {
        background: url('../images/background.jpg') top center no-repeat;
    }
}