/*
 * Main
 */
body {
    font-family: 'Lato', ​Arial, sans-serif;
    background: #fff;
}
h1 {
    margin-top: 0;
    color: #d83734;
}
h1 small {
    color: #d83734;
    display: block;
}

a:hover {
    color: #d83734;
}
::selection {
    background-color: #B73533;
    color: rgb(255,255,255);
}

/*
 * Classes
 */
.transparent {
    background: rgba(255,255,255,0.8);
}
.circle{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    font-size: 40px;
    color: #fff;
    line-height: 120px;
    text-align: center;
    background: #d83834;
}
/*
 * Tables
 */
table {}
th {
    background: #000;
}
th a {
    color: #fff;
}
th.sorted {
    background: #111;
}
td.sorted {
    background-color: #f1f1f1;
}
th.sorted a {
    color: #d63834;
}
.highlight {
    color: #d63834;
}
/*
 * Paging
 */
.pagination {
    display: block;
    position: relative;
    text-align: center;
    border: 1px solid #000;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}
.pagination a {
    font-size: 16px;
    line-height: 2;
}
.pagination .first {
    position: absolute;
    left: 0;
}
.pagination .last {
    position: absolute;
    right: 0;
}
/*
 * Header
 */
.header {
    background: #333;
    color: #ccc;
    padding: 0;
    line-height: 2;
    padding-bottom: 2px;
}
.header a {
    color: #ccc;
    text-decoration: underline;
}
.header a:hover {
    color: #fff;
}
/*
 * Top
 */
.top {
    padding: 0;
    background: #000;
}
/*
 * Top
 */
.body {
    margin-top: 10px;
}
/*
 * Index
 */
.index h1 {
    font-size: 84px;
    margin: 90px auto 0;
    text-align: center;
}
.index h1 small {
    font-size: 12px;
    font-weight: 600;
}
.index .row {
    margin-top: 80px;
}
.index .transparent {
    padding: 65px 30px 0;
    height: 345px;
}
/**
 * Suche
 */

/*
 * Media-Queries
 */
@media(min-width:768px) {
    body.index {
        background: url('../images/background.jpg') top center no-repeat;
    }
}