{% extends 'base.html.twig' %}

{% block bodyclass %}index{% endblock %}

{% block body %}
    <h1>DoMaS<small>Archivierungssystem der Hochschule Düsseldorf</small></h1>

    <div class="row">
        <div class="col-sm-4 col-sm-offset-2">
            <div class="transparent">
                <a href="#">
                    <div class="circle center-block">
                        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
                    </div>
                    <button class="btn btn-default btn-block">Dokument hochladen</button>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="transparent">

                    <div class="circle center-block">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </div>

                <form>

                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="transparent" style="height: 150px; padding-top: 30px">
                <a href="{{ path('_showStudiengaenge') }}" class="btn btn-lg btn-warning btn-block">
                    Studiengänge
                </a>

                <a href="{{ path('_showFachbereiche') }}" class="btn btn-lg btn-warning btn-block">
                    Fachbereiche
                </a>
            </div>
        </div>
    </div>
{% endblock %}

