{% extends 'base.html.twig' %}

{% block bodyclass %}detailView{% endblock %}

{% block title %}{{ parent() }} | User-Test{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-7">
            <dl class="dl-horizontal">

                {#Testausgabe -------------------------------------------------#}

                <dt>isAdmin</dt>
                <dd>{{ isAdmin }}</dd>
                <dt>Ersteller</dt>
                <dd>{{ Ersteller }}</dd>

                {#Testausgabe Ende -------------------------------------------------#}

            </dl>
    </div>
    </div>

{% endblock %}