{% extends 'archivierung/detailView/baseArchivierung.html.twig' %}

{# Twig für: Gutachten #}

{# NICHT MEHR BENUTZEN, ÜBERHOLT!! #}

{# NICHT MEHR BENUTZEN, ÜBERHOLT!! #}

{# NICHT MEHR BENUTZEN, ÜBERHOLT!! #}


{% block bodyclass %}
    {{ parent() }} detailViewGutachten
{% endblock %}

{% block giftschrankMessage %}
    <div class="giftschrankMessage2">Gutachten können nur vom Ersteller der Archivierung eingesehen werden</div>
{% endblock %}

{% block spezifischeAttributeOben %}

        <dt>Titel</dt>
        <dd>{{ archivierung.getTitel() }}</dd>

        <dt>Autor</dt>
        {% for autor in archivierung.getZusaetze() %}
            {% if autor.getZusatzKategorie().getBezeichnung() == "Autor"  %}
                <dd>
                    {{ autor.getBezeichnung() }}
                    {% if autor.getMatrikelnummer() is not null %}
                        {{ " - MatrikelNr: " ~ autor.getMatrikelnummer() }}
                    {% endif %}
                </dd>
            {% endif %}
        {% endfor %}

{% endblock %}
